@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

/* --- SCROLLBAR TITANIUM (PROTOCOL PALETTE) --- */
::-webkit-scrollbar {
    width: 6px; /* Stealth Width */
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #09090b; /* Titanium 950 */
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    background-color: #3f3f46; /* Titanium 700 */
    border-radius: 9999px; /* Fully Rounded */
    border: none; /* No border for stealth look */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #52525b; /* Titanium 600 (Feedback) */
}

/* Ocultar scrollbar pero permitir scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
