@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono&family=Merriweather:wght@300;400;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-titanium-900: #1c1c1e;
  --color-titanium-800: #292928;
  --color-titanium-500: #878681;
  --color-titanium-surface: #3A3937;
  --color-text-primary: #E0E0E0;
  --color-text-secondary: #8D918D;
  --color-drift-high: #7f1d1d;

  --font-display: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Merriweather", serif;
}

body {
  @apply bg-titanium-900 text-text-primary;
}

/* --- SCROLLBAR TITANIUM (PROTOCOL PALETTE) --- */
::-webkit-scrollbar {
    width: 6px; /* Stealth Width */
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #09090b; /* Titanium 950 */
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    background-color: #3f3f46; /* Titanium 700 */
    border-radius: 9999px; /* Fully Rounded */
    border: none; /* No border for stealth look */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #52525b; /* Titanium 600 (Feedback) */
}

/* Ocultar scrollbar pero permitir scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* --- DRIFT PROTOCOL (CODE MIRROR) --- */
.cm-drift-high {
    background-color: rgba(127, 29, 29, 0.2) !important; /* Red 900 / 20% */
}

.cm-drift-low {
    background-color: rgba(6, 78, 59, 0.2) !important; /* Emerald 900 / 20% */
}
